<div class="row align-items-center">
  <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
    <button type="button" class="btn btn-block btn-primary" data-toggle="modal" (click)="myModal.show()">Primary</button>
  </div>
  <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
    <button type="button" class="btn btn-block btn-secondary">Secondary</button>
  </div>
  <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
    <button type="button" class="btn btn-block btn-success">Success</button>
  </div>
  <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
    <button type="button" class="btn btn-block btn-warning">Warning</button>
  </div>
  <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
    <button type="button" class="btn btn-block btn-danger">Danger</button>
  </div>
</div>

<ngx-datatable
  class="material"
  [rows]="rows"
  [columns]="[{name:'Name'},{name:'Gender'},{name:'Company'}]"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="2">
</ngx-datatable>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="card-body">
            <div class="form-group">
              <label for="company">Company</label>
              <input type="text" class="form-control" id="company" placeholder="Enter your company name">
            </div>
            <div class="form-group">
              <label for="vat">VAT</label>
              <input type="text" class="form-control" id="vat" placeholder="PL1234567890">
            </div>
            <div class="form-group">
              <label for="street">Street</label>
              <input type="text" class="form-control" id="street" placeholder="Enter street name">
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="Enter your city">
              </div>
              <div class="form-group col-sm-4">
                <label for="postal-code">Postal Code</label>
                <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
              </div>
            </div><!--/.row-->
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control" id="country" placeholder="Country name">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
